@import "../../../../scss/repeat.scss";

.intracWebInterface {
  padding: 80px 0;

  &__container {
    @extend %container;

    &:not(:last-child) {
      padding-bottom: 80px;
    }
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    @extend %subheading_H5_Desktop;

    flex: 1;

    max-width: 255px;
    margin-right: 52px;

    color: $neutrals_N500;
  }

  &__right {
    @extend %body_B1_Desktop;

    font-weight: 500;

    flex: 1;

    color: $neutrals_N100;
  }

  img {
    width: 100%;

    object-fit: contain;
  }

  img[alt~="intrac web interface 1"] {
    aspect-ratio: 392 / 265;
  }

  img[alt~="intrac web interface 2"] {
    aspect-ratio: 98 / 69;
  }

  @media (max-width: $largeTablet) {
    padding: 40px 0;

    &__container:not(:last-child) {
      padding-bottom: 40px;
    }

    &__row {
      flex-direction: column;
    }

    &__left {
      max-width: unset;

      margin: 0 0 24px 0;
    }
  }

  @media (max-width: $largeMobile) {
    &__left {
      @include subheading_H3_Mobile();
    }

    &__right {
      @include heading_H1_Mobile();
    }

    &__container:nth-child(2),
    &__container:nth-child(3) {
      width: 100%;
    }
  }
}
