@import "../../../../scss/repeat.scss";
@import "../../../../scss/_colors.scss";

$hoverAnimation: 0.6s cubic-bezier(0.61, 1, 0.88, 1);

.workItem {
  width: 42.105%;

  &__imgContainer {
    position: relative;

    overflow: hidden;

    width: 100%;

    border-radius: 8px;

    &::after {
      @extend %absoluteCenter;

      transition: background-color $hoverAnimation;

      content: "";

      display: block;

      width: 100%;
      height: 100%;

      background-color: transparent;
    }
  }

  &__viewCase {
    @extend %absoluteCenter, %alignedRow;

    transition: opacity $hoverAnimation;

    opacity: 0;

    z-index: 1;

    width: fit-content;

    p {
      @extend %body_B1;

      margin-right: 4px;

      color: $neutrals_N0;
    }
  }

  img {
    transition: transform $hoverAnimation;

    width: inherit;

    object-fit: contain;
  }

  h4 {
    @extend %heading_H4;

    margin: 24px 0 8px;

    color: $neutrals_N0;
  }

  a > p {
    @extend %body_B4_16;

    color: $neutrals_N500;
  }

  a:hover &__viewCase {
    opacity: 1;
  }

  a:hover &__imgContainer {
    &::after {
      background-color: $accent_A200;
    }

    img {
      transform: scale(1.1);
    }
  }
}
