@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

.header {
  position: sticky;
  top: 0;

  z-index: 20;

  width: 100%;
  padding: 24px 0;

  background-color: $neutrals_N1000;

  &__container {
    @extend %container;

    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    @extend %center, %subheading_H5_Desktop;
    transition: all 0.2s ease;

    padding: 14px 0;

    color: $neutrals_N0;

    svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      @include subheading_H2_Mobile();
    }
  }

  a:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: $smallTablet) {
  .header {
    &__container {
      justify-content: space-between;
    }

    a:not(:last-child) {
      margin-right: unset;
    }
  }
}

@media (max-width: $largeMobile) {
  .header {
    padding: 0;

    a {
      @include subheading_H4_Mobile();

      padding: 24px 0;
    }
  }
}
