@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

.header {
  position: sticky;
  top: 0;

  z-index: 20;

  width: 100%;
  padding: 24px 0;

  background-color: $neutrals_N1000;

  &__container {
    @extend %container;

    flex-direction: row;
    justify-content: flex-end;
  }

  .animatedLink {
    padding: 14px 0;

    #line {
      bottom: 8px;
    }
  }

  a:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: $smallTablet) {
  .header {
    &__container {
      justify-content: space-between;
    }

    a:not(:last-child) {
      margin-right: unset;
    }
  }
}

@media (max-width: $largeMobile) {
  .header {
    padding: 0;

    a {
      padding: 24px 0;

      #line {
        bottom: 18px;
      }
    }
  }
}
