@import "../../../../scss/repeat.scss";
@import "../../../../scss/colors.scss";
@import "../../../../scss/animations.scss";

@mixin iphonesVerticalAlingment(
  $iphonesCount,
  $selector,
  $alignment,
  $animateProperty
) {
  @for $i from 1 through $iphonesCount {
    #{$selector}:nth-child(#{$i}) {
      align-self: map-get($alignment, $i);

      @include slideIphoneFromBottomOrTop(map-get($animateProperty, $i));
    }
  }
}

.lexerUiProcess {
  padding-bottom: 226px;

  &__container {
    @extend %container;
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    width: 31.58%;

    div:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  &__right {
    width: calc(100% - 31.58% - 32px);
  }

  &__demonstration {
    @extend %alignedRow;

    overflow: hidden;

    justify-content: space-between;

    background-color: $demonstrationBg;

    padding: 55px 64px;
    margin: 0 40px 56px 40px;

    height: 50vw;
    max-height: 720px;
    width: calc(100% - 80px);

    .iphoneX {
      width: 24%;
      max-width: 240px;
    }

    @include iphonesVerticalAlingment(
      4,
      ".iphoneX",
      (
        1: flex-end,
        2: flex-start,
        3: flex-end,
        4: flex-start,
      ),
      (
        1: top,
        2: bottom,
        3: top,
        4: bottom,
      )
    );
  }

  h2 {
    @extend %heading_H2;
  }

  h3 {
    @extend %body_B2_Desktop;

    margin-bottom: 4px;

    padding-left: 40px;
  }

  p {
    @extend %body_B4_18;

    color: $neutrals_N500;

    padding: 0 40px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__mainText {
    margin: 0;
    padding: 0 40px;
  }
}
