@import "../../../../scss/repeat.scss";
@import "../../../../scss/colors.scss";

.wildMindsUIProcess {
  padding-bottom: 226px;

  &__container {
    @extend %container;
  }

  &__row {
    flex-direction: row;

    justify-content: space-between;
  }

  &__left {
    width: 31.58%;

    div:not(:last-child) {
      margin-bottom: 56px;
    }

    p {
      @extend %body_B4_18;
    }
  }

  &__right {
    width: calc(100% - 31.58% - 32px);
  }

  &__demonstrationContainer {
    margin: 0 0 56px;
    padding: 0 40px;

    height: 720px;
  }

  &__demonstration {
    @extend %center;

    position: relative;

    width: calc(100% - 48.59% - 32px);
    height: 100%;

    & > img {
      @extend %absoluteCenter;
    }

    .iphoneX {
      video {
        max-width: calc(100% - 12.5%);
      }
    }
  }

  h2 {
    @extend %heading_H2;

    margin-bottom: 56px;
  }

  h3 {
    @extend %body_B2_Desktop;

    margin-bottom: 4px;

    padding-left: 40px;
  }

  p {
    @extend %body_B1_Desktop;

    color: $neutrals_N500;

    padding: 0 40px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__mainText {
    margin: 0;
    padding: 0 40px;

    p {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__results {
    margin: 56px 40px 0 40px;

    width: calc(100% - 80px);
    height: 720px;
  }

  &__results,
  &__demonstration {
    img:first-child {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
