@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

$contentContainerWidth: calc($containerDesktopMaxWidth - 52px * 2);

.worksList {
  ul {
    @extend %container;

    li:nth-child(2n + 1) img {
      width: calculatePercentage(788px, $contentContainerWidth);
    }
  }

  @media (max-width: $largeMobile) {
    ul {
      li:nth-child(2n + 1) img {
        width: 100%;

        position: relative;
        right: 22%;
      }
    }
  }
}
