@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

$contentContainerWidth: calc($containerDesktopMaxWidth - 52px * 2);

@mixin placeItems($cardsCount) {
  @for $i from 1 through $cardsCount {
    li:nth-child(#{$i}) {
      position: sticky;
      top: 104px;
      z-index: $i;
    }

    @media (max-width: $largeTablet) {
      li:nth-child(#{$i}) {
        top: 0 !important;
        position: static !important;
      }
    }
  }
}

.worksList {
  overflow: visible;
  &__container {
    @extend %container;

    transform: translate(0px, 0px) !important;

    //cardHeight * cardCount + footerHeight+footerOffset
    height: calc(830px * 4 + 256px + 152px);
    padding-bottom: 152px;

    li:nth-child(2n + 1) img {
      width: calculatePercentage(788px, $contentContainerWidth);
    }

    @include placeItems(4);
  }

  @media (max-width: $largeTablet) {
    &__container {
      height: fit-content;
      padding-bottom: 80px;
    }
  }

  @media (max-width: $largeMobile) {
    &__container {
      width: 100%;

      padding-bottom: 80px;
    }
  }
}
