@import "../../../../scss/repeat.scss";
@import "../../../../scss/colors";

@mixin placeItems($cardsCount, $cardsTopOffset) {
  @for $i from 1 through $cardsCount {
    &:nth-child(#{$i}) {
      margin-top: map-get($cardsTopOffset, $i);
    }

    // @media (max-width: $largeMobile) {
    //   &:nth-child(#{$i}) {
    //     top: 68px;
    //   }
    // }
  }
}

.neobankChallenges {
  padding: 105px 0;
  width: 100%;

  &__container {
    @extend %container;
    position: relative;

    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 80px;
  }

  &__container .gradientCard {
    position: relative;

    &:last-child p {
      color: $neutrals_N100;
    }
  }

  &__container:first-child {
    .gradientCard {
      z-index: 2;

      padding: 60px 40px;
      width: calculatePercentage(548px, $containerDesktopMaxWidth);

      p {
        @extend %body_B1_Desktop;

        margin-top: unset;
      }

      @include placeItems(
        2,
        (
          1: calculatePercentage(220, 874),
          2: 0,
        )
      );
    }

    svg {
      @extend %absoluteCenter;
      z-index: 1;

      // width: 1000px;
      width: 90%;

      top: calc(50% - 5%);
      left: calc(50% + 25%);
    }
  }

  &__container:last-child .gradientCard {
    width: calculatePercentage(288px, $containerDesktopMaxWidth);

    @include placeItems(
      4,
      (
        1: calculatePercentage(100, 770),
        2: calculatePercentage(200, 770),
        3: calculatePercentage(140, 770),
        4: 0,
      )
    );
  }
}
