@import "../../../scss/repeat.scss";
@import "../../../scss/colors.scss";
@import "../../../scss/utils.scss";

.homeIntro {
  @extend %container;

  flex-direction: row;
  justify-content: space-between;

  padding: 80px 0 120px;

  &__content {
    padding: 0 52px;
  }

  &__content:first-child {
    width: calculatePercentage(470px, $containerDesktopMaxWidth);
  }

  &__content:last-child {
    width: calculatePercentage(706px, $containerDesktopMaxWidth);
  }

  h1 {
    @extend %heading_H1;

    color: $neutrals_N100;
  }

  img {
    display: flex;
    flex: 1;

    margin-top: 32px;

    border-radius: 4px;

    object-fit: cover;
  }

  h2 {
    @extend %subheading_H1;

    color: $neutrals_N100;
  }

  h2 + span {
    @extend %subheading_H2;

    color: $neutrals_N500;
  }

  h1 + span,
  p {
    @extend %subheading_H3;

    color: $neutrals_N500;

    margin-top: 32px;
  }

  p {
    margin-top: 40px;

    &:nth-child(2) {
      margin-top: 64px;
    }
  }

  @media (max-width: $largeTablet) {
    flex-direction: column;
    justify-content: flex-start;

    padding: 40px 0 120px;

    &__content {
      padding: 0 24px;

      &:first-child,
      &:last-child {
        width: 100%;
      }
    }

    h1 + span,
    p {
      margin-top: 20px;
    }

    p:last-child {
      margin-top: 40px;
    }

    img {
      margin-bottom: 40px;
    }
  }

  @media (max-width: $smallTablet) {
    &__content {
      padding: 0;
    }
  }
}
