@import "../../../scss/repeat.scss";
@import "../../../scss/colors.scss";
@import "../../../scss/animations.scss";
@import "../../../scss/utils.scss";

.homeIntro {
  @extend %container;

  flex-direction: row;
  justify-content: space-between;

  padding: 80px 0 120px;

  &__content {
    padding: 0 52px;
  }

  &__content:first-child {
    width: calculatePercentage(470px, $containerMaxWidth);
  }

  &__content:last-child {
    width: calculatePercentage(706px, $containerMaxWidth);
  }

  h1 {
    @extend %heading_H1;

    color: $neutrals_N100;
  }

  h2 {
    @extend %subheading_H1;

    color: $neutrals_N100;
  }

  h2 + span {
    @extend %subheading_H2;

    color: $neutrals_N500;
  }

  h1 + span {
    @extend %subheading_H3;

    color: $neutrals_N500;

    margin-top: 32px;
  }
}
