@import "../../../../scss/repeat.scss";

.neobankDesignArchitecture {
  &__container {
    @extend %container;

    &:last-child {
      margin-top: 52px;
    }
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;

    padding: 80px 0;
  }

  &__left {
    @extend %subheading_H5_Desktop;

    flex: 1;

    max-width: 255px;
    margin-right: 52px;

    color: $neutrals_N500;
  }

  &__right {
    @extend %body_B1_Desktop;

    font-weight: 500;

    flex: 1;

    color: $neutrals_N100;
  }

  img {
    width: 100%;

    object-fit: contain;
  }

  img[alt~="Neobank design architecture diagram"] {
    aspect-ratio: 42 / 29;
  }
  img[alt~="Neobank design architecture illustration"] {
    aspect-ratio: 1176 / 781;
  }

  @media (max-width: $largeTablet) {
    &__row {
      flex-direction: column;

      padding: 40px 0;
    }

    &__left {
      max-width: unset;

      margin: 0 0 24px 0;
    }

    &__container:last-child {
      margin-top: 24px;
    }
  }

  @media (max-width: $largeMobile) {
    &__left {
      @include subheading_H3_Mobile();
    }

    &__right {
      @include heading_H1_Mobile();
    }

    &__container:last-child {
      width: 100%;
    }
  }
}
