@import "../../../scss/repeat.scss";
@import "../../../scss/_colors.scss";
@import "../../../scss/utils.scss";
@import "../../../scss/animations.scss";

$contentContainerWidth: calc($containerDesktopMaxWidth - 52px * 2);

.workItem {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 830px;
  padding: 52px;

  border-radius: 16px;

  background-color: $neutrals_N0;

  overflow-x: hidden;

  -webkit-box-shadow: 0 -4px 4px #8888880a;
  -moz-box-shadow: 0 -4px 4px #8888880a;
  box-shadow: 0 -4px 4px #8888880a;

  &__animated-shadow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;

    width: 100%;
    height: 100%;

    background-color: rgba($color: $neutrals_N1000, $alpha: 0.5);

    pointer-events: none;
  }

  &__content {
    @extend %alignedRow;

    position: relative;

    flex: 1;

    & > div {
      position: relative;
      z-index: 10;

      width: calculatePercentage(434px, $contentContainerWidth);
    }

    h3 {
      @extend %subheading_H1_Desktop;

      color: $neutrals_N1000;
    }

    h4 {
      @extend %subheading_H3_Desktop;

      color: $neutrals_N500;
    }

    p {
      @extend %body_B1_Desktop;

      color: $neutrals_N500;

      margin: 28px 0;
    }

    a {
      @extend %body_B3_Desktop, %center;

      transition: all 0.4s ease;

      color: $neutrals_N500;
      background-color: $neutrals_N0;

      padding: 10px 12px;
      width: fit-content;

      border: 1px solid $neutrals_N500;
      border-radius: 8px;

      svg {
        width: 100%;
        height: 100%;
        path {
          transition: all 0.4s ease;

          fill: $neutrals_N500;
        }
      }

      &:hover {
        color: $neutrals_N0;
        background-color: $neutrals_N1000;

        svg path {
          fill: $neutrals_N0;
        }
      }
    }

    img {
      position: absolute;
      right: -52px;
      z-index: 1;

      object-fit: cover;

      width: calculatePercentage(672px, $contentContainerWidth);
    }
  }

  &__btn {
    width: fit-content;
  }

  &__timeline {
    @extend %body_B1_Desktop;

    color: $neutrals_N500;

    span:last-child {
      color: $neutrals_N1000;
    }
  }

  @media (max-width: $largeTablet) {
    flex-direction: column;
    justify-content: flex-start;

    overflow: visible;

    height: fit-content;
    padding: 20px 0;

    &__content {
      flex-direction: column;

      & > div {
        padding: 0 20px;
        width: 100%;
      }

      img {
        display: flex;
        align-self: center;
        position: relative;
        right: 0;

        object-fit: contain;

        width: 100%;

        margin-top: 20px;

        aspect-ratio: 195 / 209;
      }

      p {
        margin: 20px 0;
      }

      a {
        letter-spacing: -0.4px;
      }
    }

    &__timeline {
      padding: 0 20px;
    }
  }

  @media (max-width: $largeMobile) {
    h3 {
      @include subheading_H1_Mobile();
    }

    h4 {
      @include subheading_H2_Mobile();
    }

    p {
      @include body_B1_Mobile();
    }

    a {
      @include body_B2_Mobile();
    }

    &__timeline {
      @include body_B1_Mobile();
    }
  }
}
