@import "../../../scss/repeat.scss";
@import "../../../scss/colors.scss";

.footer {
  @extend %container;

  padding: 52px 52px 40px;
  margin-top: 152px;

  background-color: $neutrals_N0;

  border-radius: 16px 16px 0 0;

  &__container {
    @extend %alignedRow;

    &:first-child {
      padding-bottom: 40px;
      margin-bottom: 40px;

      border-bottom: 1px solid $neutrals_N100;
    }

    &:last-child {
      align-items: flex-end;
    }
  }

  &__info {
    flex: 1;

    h3,
    span,
    & + span {
      @extend %subheading_H4;

      color: $neutrals_N1000;
    }

    & + span,
    span:last-child {
      color: $neutrals_N500;
    }
  }

  &__container:last-child > &__info {
    display: none;
  }

  a {
    @extend %center, %body_B2;

    color: $neutrals_N1000;

    padding: 16px 20px;

    span {
      margin-left: 4px;

      color: $neutrals_N1000;
    }
  }

  @media (max-width: $largeTablet) {
    padding: 20px 24px;
    margin-top: 80px;

    &__container:first-child {
      flex-wrap: wrap;

      padding-bottom: 8px;
      margin-bottom: 8px;
    }

    &__container:first-child > &__info {
      display: none;
    }

    &__container:last-child > &__info {
      display: flex;
    }

    a {
      padding: 8px;
    }
  }
}
