@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

.header {
  padding: 24px 0;

  &__container {
    @extend %container;

    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    @extend %center, %subheading_H4;

    color: $neutrals_N0;

    svg {
      margin-left: 5px;
    }
  }

  a:not(:last-child) {
    margin-right: 40px;
  }
}
