@import "../../../scss/repeat.scss";
@import "../../../scss/colors";

.header {
  width: 100%;
  padding: 24px 0;

  position: fixed;
  z-index: 100;

  background-color: $neutrals_N1000;

  &__container {
    @extend %container;

    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    @extend %center, %subheading_H4_Desktop;

    padding: 14px 0;

    color: $neutrals_N0;

    svg {
      margin-left: 5px;
    }
  }

  a:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: $smallTablet) {
  .header {
    &__container {
      justify-content: space-between;
    }

    a:not(:last-child) {
      margin-right: unset;
    }
  }
}

@media (max-width: $largeMobile) {
  .header {
    position: static;

    padding: 0;

    a {
      @include subheading_H3_Mobile();

      padding: 24px 0;
    }
  }
}
