@import "../../scss/repeat.scss";

.iphoneX {
  position: relative;

  max-width: 304px;
  width: 80%;

  &__body {
    position: relative;
    z-index: 1;

    width: 100%;

    object-fit: contain;
  }

  video,
  &__screenshot {
    @extend %absoluteCenter;

    position: absolute;
    z-index: 0;

    max-width: calc(100% - 13%);

    border-radius: 12px;

    object-fit: contain;
  }
}
