/* ---------------------------------- Other --------------------------------- */

$other_V500: #714fc3;
$other_Yell500: #ffd500;
$other_Bl500: #005bbb;
$wildMindsBg: #c3bf3d;
$demonstrationBg: rgba(4, 7, 10, 0.35);

/* -------------------------------- Neutrals -------------------------------- */

$neutrals_N0: #ffffff;
$neutrals300: #bbb0ff;
$neutrals_N500: #b2aeea;
$neutrals_N700: #05151e;
$neutrals_N800: #292d38;
$neutrals_N900: #191c23;
$neutrals_N1000: #070707;

/* --------------------------------- Accent --------------------------------- */

$accent_A200: rgba(28, 0, 94, 0.35);
$accent_A500: linear-gradient(180deg, #7650f5 0%, #301881 100%);
$accent_A600: linear-gradient(180deg, #361c8a 0%, #230d6f 100%);
