@import "./constants";
@import "./colors";
@import "./utils.scss";

%button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  position: relative;

  height: 68px;

  border-radius: 12px;

  &::after {
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    border-radius: inherit;
    border: 2px solid transparent;

    width: inherit;
    height: inherit;

    background: $accent_A500 border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:active::after {
    background-image: $accent_A600;
  }
}

%smallButton {
  @extend %button;

  width: 48px;
  height: 48px;

  border-radius: 50%;

  &:hover::after {
    border-width: calc(48px / 2);
  }
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%alignedRow {
  display: flex;
  align-items: center;
  flex-direction: row;
}

%scrollList {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 10px;
    position: relative;
    z-index: 100;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    transition: background-color 4s linear;
    border-radius: 10px;
    background-color: #b9b9b9f8;
    &:active {
      background-color: #000;
    }
  }
}

%container {
  //fullScreen width in design:1440 px; horizontal padding=132px;1440-132*2=1176 px;

  max-width: $containerDesktopMaxWidth;
  width: calculatePercentage(
    $containerDesktopMaxWidth,
    $designDesktopLayoutWidth
  );

  align-self: center;

  @media (max-width: $smallTablet) {
    width: calculatePercentage(
      $containerMobileMaxWidth,
      $designMobileLayoutWidth
    );
  }
}

/* ------------------------------- Font styles ------------------------------ */

//Headings

%heading_H1_Desktop {
  @include generateFont($inter, 500, 48px, 64px, -1px);
}

@mixin heading_H1_Mobile() {
  @include generateFont($inter, 500, 24px, 36px, -1px);
}

//!!Deprecated
%heading_H2 {
  font-family: $kyivTypeSans;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
}
//!!Deprecated
%heading_H3 {
  font-family: $kyivTypeSans;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.36px;
}
//!!Deprecated
%heading_H4 {
  font-family: $kyivTypeSans;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.5px;
}

//Subheadings:

%subheading_H1_Desktop {
  @include generateFont($inter, 500, 38px, 48px, -1px);
}

@mixin subheading_H1_Mobile() {
  @include generateFont($inter, 500, 24px, 32px, -1px);
}

%subheading_H2_Desktop {
  @include generateFont($inter, 400, 32px, 48px, -1px);
}

@mixin subheading_H2_Mobile() {
  @include generateFont($inter, 400, 18px, 28px, -0.5px);
}

%subheading_H3_Desktop {
  @include generateFont($inter, 400, 28px, 40px, -1px);
}

@mixin subheading_H3_Mobile() {
  @include generateFont($inter, 500, 14px, 20px, -0.5px);
}

%subheading_H4_Desktop {
  @include generateFont($inter, 400, 18px, 28px, -0.5px);
}

//Body:

%body_B1_Desktop {
  @include generateFont($inter, 400, 24px, 36px, 0px);
}

@mixin body_B1_Mobile() {
  @include generateFont($inter, 500, 16px, 24px, 0px);
}

%body_B2_Desktop {
  @include generateFont($inter, 500, 16px, 24px, 0px);
}

%body_B3_Desktop {
  @include generateFont($inter, 500, 14px, 20px, 0px);
}

//!!Deprecated
%body_B4_18 {
  font-family: $kyivTypeTitling;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

//!!Deprecated
%body_B4_16 {
  font-family: $kyivTypeTitling;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
