@import "../../../../scss/repeat.scss";

.loopProductDesign {
  @extend %loopSection;

  &__container {
    @extend %container;

    padding: 80px 0;

    &:first-child {
      padding-bottom: 0;
    }

    &:nth-child(3) {
      width: 100%;
      max-width: unset;
      background-color: $neutralsN300;

      img {
        @extend %container;
      }
    }
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    @extend %subheading_H5_Desktop;

    flex: 1;

    max-width: 255px;
    margin-right: 52px;

    color: $neutrals_N500;
  }

  &__right {
    @extend %body_B1_Desktop;

    flex: 1;

    color: $neutrals_N1000;
  }

  img {
    width: 100%;

    object-fit: contain;

    &:nth-child(2) {
      margin-top: 52px;
    }
  }

  @media (max-width: $largeTablet) {
    &__container {
      padding: 40px 0;
    }

    &__row {
      flex-direction: column;
    }

    &__left {
      max-width: unset;

      margin: 0 0 24px 0;
    }

    img:nth-child(2) {
      margin-top: 24px;
    }
  }

  @media (max-width: $largeMobile) {
    &__left {
      @include subheading_H3_Mobile();
    }

    &__right {
      @include heading_H1_Mobile();
    }
  }
}
