@import "../../../../scss/repeat.scss";

.wingTipzUIProcess {
  &__container {
    @extend %container;

    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    @extend %subheading_H5_Desktop;

    flex: 1;

    max-width: 255px;
    margin-right: 52px;

    color: $neutrals_N500;
  }

  &__right {
    @extend %body_B1_Desktop;

    font-weight: 500;

    flex: 1;

    color: $neutrals_N100;

    p:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__demonstrationContainer {
    flex-direction: row;
    justify-content: space-between;

    box-sizing: content-box;

    width: 100%;
  }

  &__demonstration {
    @extend %center;

    background-color: $demonstrationBg;

    width: calc(100% - 48.59% - 32px);

    padding: 52px 0;
  }

  @media (max-width: $largeTablet) {
    &__container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__row {
      flex-direction: column;
    }

    &__left {
      max-width: unset;

      margin: 0 0 24px 0;
    }
  }

  @media (max-width: $smallTablet) {
    &__demonstrationContainer {
      flex-direction: column;
      justify-content: flex-start;

      padding: 0;
    }

    &__demonstration {
      width: 100%;

      padding: 24px;

      &:first-child {
        margin-bottom: 32px;
      }
    }
  }

  @media (max-width: $largeMobile) {
    &__left {
      @include subheading_H3_Mobile();
    }

    &__right {
      @include heading_H1_Mobile();
    }
  }
}
